<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- 数据库驱动包 -->
    <classPathEntry location="mysql-connector-java-5.1.26-bin.jar" />

    <context id="DBTables" targetRuntime="MyBatis3">

        <!-- 是否去除自动生成的注释 -->
        <commentGenerator>
            <property name="suppressDate" value="true" />
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!-- 配置数据库连接信息 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
            connectionURL="jdbc:mysql://60.205.180.147/aster" userId="wangjianan" password="Ai18744093483">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- 生成模型的包名和位置 -->
        <javaModelGenerator targetPackage="core.com.aster.model"
            targetProject="../../src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 生成映射文件包名和位置 -->
        <sqlMapGenerator targetPackage="mapper"
            targetProject="../../src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- 生成DAO文件包名和位置 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="core.com.aster.dao.mapper"
            targetProject="../../src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="config_product" domainObjectName="ConfigProduct"/>-->
        <table tableName="config_banner" domainObjectName="ConfigBanner"/>

    </context>
</generatorConfiguration>
